@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627799513787') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\f0178";
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-fenlei:before {
  content: "\e66d";
}

.icon-jiage:before {
  content: "\e652";
}

.icon-gerenzhongxin:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e658";
}

.icon-zuo:before {
  content: "\e694";
}

.icon-shoucang:before {
  content: "\e629";
}

.icon-shoucang1:before {
  content: "\e62a";
}

